body
{
    background: white;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game {

    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4 ,100px);
    gap: 20px;
    
      
    
}


.card_img
{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background: black;
}

.image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    
}

button
{
    margin-top: 100px ;
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}