body
{
    background: greenyellow ;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#game {

    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4 ,120px);
    gap: 20px;
    
      
    
}


.card_img
{
    background-image: url("imgs/back.jpg");
    width: 120px;
    height: 120px;
    border: 2px solid black; 
    background-image: url("imgs/back.jpg");
    background-size: cover;
    background-position: center;
    
}

.image
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    
}

button
{
    margin-top: 100px ;
    padding: 20px 200px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}